<!DOCTYPE html>
<html>
<head>
    <title>Final Result</title>
</head>

<body style="font-family: Arial; background:#f5f5f5; text-align:center;">

    <div style="width:60%; margin:50px auto; background:white; padding:30px; border-radius:10px; box-shadow:0 0 10px gray;">

        <h1>🎉 Interview Completed!</h1>

        <h2>Your Total Score</h2>
        <h1 style="color:green;">{{ total }}/40</h1>

        <br>

        <a href="/">
            <button style="padding:10px 20px; background:#667eea; color:white; border:none; border-radius:5px;">
                Restart Interview
            </button>
        </a>

    </div>

</body>
</html>