<!DOCTYPE html>
<html>
<head>
    <title>Final Result</title>
</head>

<body style="font-family: Arial; background:#f5f5f5; text-align:center;">

    <div style="width:60%; margin:50px auto; background:white; padding:30px; border-radius:10px; box-shadow:0 0 10px gray;">

        <h1>🎉 Interview Completed!</h1>

        <h1>Your Total Score: {{ total }}/40</h1>

        <h2>Percentage: {{ ((total/40)*100) | round(2) }}%</h2>

        <h3>Thank you for attending the AI Interview Practice 💼</h3>


{% if total >= 30 %}
    <h2 style="color:green;">Excellent Performance 🎉</h2>
{% elif total >= 20 %}
    <h2 style="color:orange;">Good Job 👍</h2>
{% else %}
    <h2 style="color:red;">Needs Improvement 💡</h2>
{% endif %}



       <br><br>

<a href="/">
    <button style="padding:10px; background:#4CAF50; color:white; border:none; border-radius:5px;">
        Restart Interview
    </button>
</a>

    </div>

</body>
</html>