<!DOCTYPE html>
<html>
<head>
    <title>Interview</title>

    <style>
        body {
            font-family: Arial;
            background: linear-gradient(to right, #74ebd5, #ACB6E5);
        }

        textarea {
            width: 80%;
            padding: 10px;
            border-radius: 8px;
        }

        button {
            cursor: pointer;
            font-size: 16px;
        }
    </style>

</head>

<body style="font-family: Arial; background:#f5f5f5; text-align:center;">

    <div style="width:60%; margin:50px auto; background:white; padding:30px; border-radius:10px; box-shadow:0 0 10px gray;">

        <!-- Progress Bar -->
        <div style="width:100%; background:#ddd; margin-bottom:15px;">
            {% if q_index == 0 %}
                <div style="width:25%; background:#4CAF50; color:white; padding:5px;">Question 1/4</div>
            {% elif q_index == 1 %}
                <div style="width:50%; background:#4CAF50; color:white; padding:5px;">Question 2/4</div>
            {% elif q_index == 2 %}
                <div style="width:75%; background:#4CAF50; color:white; padding:5px;">Question 3/4</div>
            {% else %}
                <div style="width:100%; background:#4CAF50; color:white; padding:5px;">Question 4/4</div>
            {% endif %}
        </div>

        <!-- Timer -->
        <p id="timer">Time: 30</p>

        <!-- Question -->

        <h3>Welcome Candidate</h3>

        <h2>{{ question }}</h2>


        <!-- Form -->
        <form method="post" action="/interview">
            <input type="hidden" name="q_index" value="{{ q_index }}">
            <input type="hidden" name="total" value="{{ total }}">

            <textarea id="answerBox" name="answer" rows="5" cols="40" placeholder="Type or speak your answer..." required></textarea><br><br>

<button type="button" onclick="startVoice()" style="padding:8px; background:#2196F3; color:white; border:none; border-radius:5px;">
🎤 Speak Answer
</button><br><br>

            <button type="submit" style="padding:10px; background:#4CAF50; color:white; border:none; border-radius:5px;">
                Submit
            </button>
        </form>

    </div>

    <!-- Timer Script -->
    <script>
        let time = 30;
        let timer = setInterval(function() {
            time--;
            document.getElementById("timer").innerText = "Time: " + time;

            if (time <= 0) {
                clearInterval(timer);
                alert("Time up!");
            }
        }, 1000);
    </script>
    <script>
function startVoice() {
    const recognition = new (window.SpeechRecognition || window.webkitSpeechRecognition)();
    recognition.lang = "en-US";

    recognition.onstart = function() {
    alert("Listening... Speak now 🎤");
};

    recognition.onresult = function(event) {
        document.getElementById("answerBox").value = event.results[0][0].transcript;
    };

    recognition.start();
}
</script>

</body>
</html>