<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>

<body style="font-family: Arial; background:#f5f5f5; text-align:center;">

    <div style="width:60%; margin:100px auto; background:white; padding:30px; border-radius:10px; box-shadow:0 0 10px gray;">

        <h1>AI Interview Coach</h1>

        <form action="/login" method="post">
            <button type="submit" style="padding:10px; background:#4CAF50; color:white; border:none; border-radius:5px;">
                Start Interview
            </button>
        </form>

    </div>

</body>
</html>